## Group 6 - Math for AI, AI23 @ HCMUS
- 23122013 - Đinh Đức Tài
- 23122002 - Nguyễn Đình Hà Dương
- 23122004 - Nguyễn Lê Hoàng Trung
- 23122014 - Hoàng Minh Trung

## [Lab1] Linear Regression

In [1]:
# Importing the libraries: numpy, matplotlib, pandas
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## Part I: Explore train.csv

In [2]:
# Read the CSV file
file_path = './train.csv'
data = pd.read_csv(file_path)

# Print information about the file
print("Number of rows:", len(data))
print("Column names:", data.columns.tolist())

# Print the first 5 rows of the data
print("\nFirst 5 rows of data:")
data.head()

Number of rows: 1647
Column names: ['Make', 'Model', 'Price', 'Year', 'Kilometer', 'Fuel Type', 'Transmission', 'Location', 'Color', 'Owner', 'Seller Type', 'Engine', 'Max Power', 'Max Torque', 'Drivetrain', 'Length', 'Width', 'Height', 'Seating Capacity', 'Fuel Tank Capacity']

First 5 rows of data:

,Make,Model,Price,Year,Kilometer,Fuel Type,Transmission,Location,Color,Owner,Seller Type,Engine,Max Power,Max Torque,Drivetrain,Length,Width,Height,Seating Capacity,Fuel Tank Capacity
0,BMW,3-Series 320d,800000,2012,75576,Diesel,Automatic,Mumbai,White,Second,Individual,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BMW,X1 sDrive20d xLine,2199000,2016,77000,Diesel,Automatic,Surat,Black,First,Individual,1995 cc,184 bhp @ 4000 rpm,350 Nm @ 1750 rpm,RWD,4454.0,2044.0,1545.0,5.0,63.0
2,Mahindra,XUV500 W4 1.99,800000,2017,112000,Diesel,Manual,Muzaffurpur,Silver,First,Individual,1997 cc,138 bhp @ 3750 rpm,320 Nm @ 1600 rpm,FWD,4585.0,1890.0,1785.0,7.0,70.0
3,Mercedes-Benz,GLS 400d 4MATIC,12900000,2021,3000,Diesel,Automatic,Delhi,White,First,Individual,2925 cc,326 bhp @ 3600 rpm,700 Nm @ 1200 rpm,AWD,5207.0,2157.0,1823.0,7.0,90.0
4,Toyota,Fortuner 2.8 4x2 AT [2016-2020],3499000,2019,73000,Diesel,Automatic,Mumbai,White,First,Individual,2755 cc,174 bhp @ 3400 rpm,450 Nm @ 1600 rpm,RWD,4795.0,1855.0,1835.0,7.0,80.0

In [3]:
print("\nNumber of rows with NaN values:", data.isna().any(axis=1).sum())

# Print information about the columns
print("\nInformation about the columns:")
column_info = pd.DataFrame({
    'Column Name': data.columns,
    'Description': [
        "Hãng xe", "Mẫu xe", "Giá xe (VNĐ)", "Năm sản xuất", "Số km đã đi", 
        "Loại nhiên liệu", "Hộp số", "Địa điểm bán", "Màu xe", "Số chủ sở hữu trước đó", 
        "Loại người bán", "Dung tích động cơ (cc)", "Công suất tối đa (bhp)", 
        "Mô-men xoắn tối đa (Nm)", "Hệ dẫn động", "Chiều dài xe (mm)", 
        "Chiều rộng xe (mm)", "Chiều cao xe (mm)", "Số chỗ ngồi", 
        "Dung tích bình nhiên liệu (lít)"
    ],
    'Data Type': data.dtypes.values,
    'Number of NaN': data.isna().sum().values,
    'Unique Values': data.nunique().values,
    'Most Frequent Value': data.mode().iloc[0].values,
})

column_info

Number of rows with NaN values: 149

Information about the columns:

,Column Name,Description,Data Type,Number of NaN,Unique Values,Most Frequent Value
0,Make,Hãng xe,object,0,31,Maruti Suzuki
1,Model,Mẫu xe,object,0,912,X1 sDrive20d xLine
2,Price,Giá xe (VNĐ),int64,0,564,425000
3,Year,Năm sản xuất,int64,0,21,2017
4,Kilometer,Số km đã đi,int64,0,701,42000
5,Fuel Type,Loại nhiên liệu,object,0,8,Diesel
6,Transmission,Hộp số,object,0,2,Manual
7,Location,Địa điểm bán,object,0,76,Mumbai
8,Color,Màu xe,object,0,17,White
9,Owner,Số chủ sở hữu trước đó,object,0,6,First
10,Seller Type,Loại người bán,object,0,3,Individual
11,Engine,Dung tích động cơ (cc),object,65,101,1197 cc
12,Max Power,Công suất tối đa (bhp),object,65,305,89 bhp @ 4000 rpm
13,Max Torque,Mô-men xoắn tối đa (Nm),object,65,265,200 Nm @ 1750 rpm
14,Drivetrain,Hệ dẫn động,object,111,3,FWD
15,Length,Chiều dài xe (mm),float64,52,230,3995.0
16,Width,Chiều rộng xe (mm),float64,52,159,1695.0
17,Height,Chiều cao xe (mm),float64,52,186,1475.0
18,Seating Capacity,Số chỗ ngồi,float64,52,6,5.0
19,Fuel Tank Capacity,Dung tích bình nhiên liệu (lít),float64,90,53,35.0

## Part II: Clean data

In [4]:
# Handle missing values
# Fill numeric columns with their mean
numeric_columns = data.select_dtypes(include=['float64', 'int64']).columns
data[numeric_columns] = data[numeric_columns].fillna(data[numeric_columns].mean())

# Fill categorical columns with the most frequent value
categorical_columns = data.select_dtypes(include=['object']).columns
data[categorical_columns] = data[categorical_columns].fillna(data[categorical_columns].mode().iloc[0])

# Remove duplicates
data = data.drop_duplicates()

# Reset index after cleaning
data.reset_index(drop=True, inplace=True)

# Print summary after cleaning
print("Data cleaned successfully!")
print("Number of rows after cleaning:", len(data))
print("Number of missing values after cleaning:", data.isna().sum().sum())

Data cleaned successfully!
Number of rows after cleaning: 1647
Number of missing values after cleaning: 0